@import url('//fonts.googleapis.com/css?family=Roboto');

.navbar.navbar-default {
    .navbar-brand {
        align-items: center;
        background: $color-white;

        display: flex;
        height: 65px;
        justify-content: center;
        width: 65px;

        img {
            height: 30px;
            width: 30px;
        }
    }
}
