@import 'molgenis/variables';

$mg-color-primary: #005c8f;
$mg-color-primary-light: $mg-color-grey-200;

$mg-font-family-base: 'Roboto';
$mg-font-family-sans-serif: 'Roboto';
$mg-font-family-mono: 'Roboto';
$mg-font-family-headings: 'Roboto';
