@import 'molgenis/variables';

$mg-color-primary: #5c9966;
$mg-color-primary-light: $mg-color-grey-200;

$mg-font-base: sans-serif;
$mg-font-sans-serif: sans-serif;
$mg-font-mono: sans-serif,monospace;
$mg-header-font: sans-serif;

$mg-font-size-base: 0.8;
$mg-body-bg: $mg-color-white;
