@import './variables';
@import 'molgenis/theme-4';

.navbar-brand {
    align-items: center;
    background: $mg-color-white;

    display: flex;
    height: 50px;
    justify-content: center;
    padding: 15px;

    img {
        display: block;
        height: auto !important;
        width: 130px;
    }
}

.justify-content-end {
    margin-right: $spacer;
}

.navbar-nav > .nav-item {
    height: 50px;
    padding: 0;
    vertical-align: middle;

    > a {
        line-height: 50px;
        padding: 0;
    }

    &:hover {
        > a {
            background: $mg-color-primary;
            color: $mg-color-white !important;
        }
    }
}

.nav-item form {
    height: 100%;
    padding-left: 15px;

    button {
        background: $mg-color-primary;
        color: $mg-color-white;

        &:hover {
            background: $mg-color-primary;
            color: $mg-color-white;
        }
    }
}
