.navbar-default {
    background: $mg-color-white;

    #language-select-box {
        display: none !important;
    }

    .navbar-nav {
        font-weight: 600;

        > li > a {
            // padding: 15px 0 !important;
            padding-left: 16px;
            padding-right: 16px;
        }

        .open {
            .dropdown-menu {
                max-height: inherit;

                li a {
                    padding: 0.75rem 1rem;
                }
            }
        }


        .dropdown.open > a {
            background: $mg-color-primary-light;
            color: $mg-color-white;
        }


        .dropdown-toggle {
            // position: relative;

            .caret {
                display: none;
            }

            &::after {
                border-bottom: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid;
                content: '';
                display: inline-block;
                margin-left: 4px;
                margin-top: 22px;
                position: absolute;
                top: 0;

            }
        }

        .dropdown-menu {
            padding: 0;

            li {
                a:active {
                    background: $mg-color-primary;
                    color: $mg-color-white;
                }
            }
        }
    }
}

// See for example the rd-connect aggregate table
#aggregate-table-container th {
    background: $mg-color-primary !important;
}


.select2-results .select2-highlighted {
    background: $mg-color-primary !important;
}

#plugin-container {
    #menu-editor-tree {
        max-height: unset !important;

        ol.vertical li {
            background: $mg-color-grey-200;
        }

        ol li {
            border: 0;
            color: $mg-color-primary !important;
            padding: $mg-spacer / 4;

            &.highlight {
                background: $mg-color-grey-100;
            }
        }
    }
}


body {
    .bwizard-steps .active {
        background: $mg-color-primary;
        color: $mg-color-white;

        &::after {
            border-left-color: $mg-color-primary;
        }
    }

    .well {
        background: none;
        border: 0;
        padding: 0;
    }

    .ui-fancytree {
        li {
            &:nth-child(even) {
                background: $mg-color-white;
            }


            &:nth-child(odd) {
                background: $mg-color-grey-100;
            }

            .fancytree-node {
                background: none !important;
                font-weight: 600;
                padding: $mg-spacer / 2 0;

                &:hover {
                    cursor: pointer;
                }


                .fancytree-title {
                    color: $mg-color-primary !important;
                }

                &:hover {
                    background: $mg-color-primary-light !important;
                }
            }
        }
    }
}


.panel {
    border: 0;
    box-shadow: 0 0 6px $mg-color-grey-400;

    &.panel-primary {
        .panel-heading {
            height: $navbar-height;
            line-height: $navbar-height;

            .panel-title {
                display: inline-block;
                font-family: $mg-font-family-headings;
                font-weight: 600;
                margin-top: 2px;
                padding-left: $mg-spacer;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}


.data-table-container {
    margin-top: 6px !important;

    // Data Explorer 1 table container
    .molgenis-table-container {
        box-shadow: 0 0 6px $mg-color-grey-300 !important;
    }
}

// Give tables more space by default.
table.table {
    thead {
        th {
            padding: $mg-spacer / 2;
            vertical-align: middle;
        }
    }

    tbody {
        td {
            padding: $mg-spacer / 2;
        }
    }
}

// Center visible modals vertically.
.modal-open {
    .modal.in {
        align-items: center;
        display: flex !important;
        height: 100%;
        justify-content: center;


        .modal-body {
            max-height: 90vh;
            overflow-y: auto;


        }
    }
}

// Adjust vertical icon offset.
.glyphicon {
    top: 3px;
}


.nav-tabs {
    li {
        font-weight: bold;

        img {
            display: none;
        }
    }
}
