.navbar-default {
    background: $mg-color-white;

    #language-select-box {
        display: none !important;
    }

    .navbar-nav {
        font-weight: 600;

        > li > a {
            // padding: 15px 0 !important;
            padding-left: 16px;
            padding-right: 16px;
        }

        .open {
            .dropdown-menu {
                li a {
                    padding: 0.75rem 1rem;
                }
            }
        }


        .dropdown.open > a {
            background: $mg-color-primary-light;
            color: $mg-color-white;
        }


        .dropdown-toggle {
            // position: relative;

            .caret {
                display: none;
            }

            &::after {
                border-bottom: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid;
                content: '';
                display: inline-block;
                margin-left: 4px;
                margin-top: 22px;
                position: absolute;
                top: 0;

            }
        }

        .dropdown-menu {
            padding: 0;

            li {
                a:active {
                    background: $mg-color-primary;
                    color: $mg-color-white;
                }
            }
        }
    }
}

#aggregate-table-container th {
    background: $mg-color-primary !important;
}


.select2-results .select2-highlighted {
    background: $mg-color-primary !important;
}

#menu-editor-tree ol li {
    // background: $mg-color-grey-200;
    border: 0;
    color: $mg-color-primary !important;
}


body {
    .ui-fancytree {
        .fancytree-node {
            background: $mg-color-primary-light !important;
            padding: $mg-spacer / 2 0;

            &:hover {
                cursor: pointer;
            }


            .fancytree-title {
                color: $mg-color-primary !important;
            }

            &:hover {
                background: $mg-color-primary-light !important;
            }
        }
    }

}


body {
    .bwizard-steps .active {
        background: $mg-color-primary;
        color: $mg-color-white;

        &::after {
            border-left-color: $mg-color-primary;
        }
    }

    .well {
        background: none;
        border: 0;
    }

}

.panel {
    border: 0;
    box-shadow: 0 0 6px $mg-color-grey-300;

    &.panel-primary {
        .panel-heading {
            height: $navbar-height;
            line-height: $navbar-height;

            .panel-title {
                display: inline-block;
                font-family: $mg-font-family-headings;
                font-weight: 600;
                margin-top: 2px;
                padding-left: $mg-spacer;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}


.data-table-container {
    margin-top: $mg-spacer / 2 + 7 !important;

    // Data Explorer 1 table container
    .molgenis-table-container {
        box-shadow: 0 0 6px $mg-color-grey-300 !important;

        table {
            thead {
                th {
                    background: $mg-color-primary-light;
                    border-bottom: 0;
                    border-bottom-width: 0 !important;
                    font-family: $mg-font-family-mono !important;
                    height: $navbar-height;
                    line-height: $navbar-height;
                    padding: 0 $mg-spacer / 2;
                }
            }

            tbody {
                tr:first-child {
                    td {
                        border-top: 0;
                    }
                }
            }

            tr {
                background: $mg-color-white;
            }

            td {
                padding: $mg-spacer $mg-spacer / 2 !important;
            }
        }
    }
}

#login-modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.glyphicon {
    top: 3px;
}


.nav-tabs {
    li {
        font-weight: bold;

        img {
            display: none;
        }
    }
}
