body {
    overflow-y: scroll;
}

legend,
h1,
h2,
h3,
h4,
h5 {
    font-family: $mg-font-family-headings;
}

.navbar-brand {
    align-items: center;
    background: $mg-color-white;
    display: flex;
    padding: 0 15px;

    img {
        display: block;
        max-width: auto;
    }
}
