// Color config:
$mg-color-primary: #017ffd !default;
$mg-color-primary-light: lighten($mg-color-primary, 43%) !default;
$mg-color-secondary: #adb5bd !default;
$mg-color-warning: #ff9800 !default;
$mg-color-error: #e40017 !default;
$mg-color-success: #009333 !default;
$mg-color-info: #adb5bd !default;

$mg-color-white: #fff !default;
$mg-color-grey-100: #f8f9fa !default;
$mg-color-grey-200: #e9ecef !default;
$mg-color-grey-300: #dee2e6 !default;
$mg-color-grey-400: #ced4da !default;
$mg-color-grey-500: #adb5bd !default;
$mg-color-grey-600: #6c757d !default;
$mg-color-grey-700: #495057 !default;
$mg-color-grey-800: #343a40 !default;
$mg-color-grey-900: #212529 !default;
$mg-color-black: #000 !default;

$mg-color-text-light: rgba(0, 0, 0, 0.5) !default;
$mg-color-text-dark: #212529 !default;

$mg-border-color: $mg-color-grey-300;

// Font config:
$mg-font-base: 'IBM_Plex_sans' !default;
$mg-font-sans-serif: 'IBM_Plex_sans' !default;
$mg-font-mono: 'IBM_Plex_mono' !default;

// Rem units are assumed but not applied here, so we can
// calculate it later on to px for Bootstrap 3, e.g. 1 unit
// is 1 rem.
$mg-font-size-base: 1 !default;

// Dimensions:
$mg-spacer: 16px !default;

// Header config
$mg-header-height: 40px !default;
$mg-header-bg: $mg-color-primary;
$mg-header-color: $mg-color-white;
$mg-header-font: 'bebas_neueregular' !default;

// Navbar
$mg-navbar-height: 50px;
$mg-navbar-font-weight: 300;

$mg-input-height: 35px;

$mg-body-bg: #fafafa !default;
$mg-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);

// Common Bootstrap 3 & 4 variables:
$body-bg: $mg-body-bg !default;
$table-cell-padding: $mg-spacer / 2;

$table-condensed-cell-padding: 10px;
$font-family-base: $mg-font-sans-serif;
$font-family-sans-serif: $mg-font-sans-serif;
$font-family-serif: $mg-font-sans-serif;
$font-family-monospace: $mg-font-mono;
