$font-size-base: 0.875rem;

$blue: $mg-color-primary;
$primary: $mg-color-primary;
$secondary: $mg-color-secondary;


$navbar-light-color: $mg-color-primary;
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

// Navbar dropdown
$dropdown-link-color: $mg-color-primary;
$dropdown-link-hover-bg: $mg-color-primary;
$dropdown-link-hover-color: $mg-color-white;

$dropdown-spacer: 0;
$dropdown-item-padding-y: 0.75rem;
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;

// Buttons
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
