// Font-size is in rems
$font-size-base: $mg-font-size-base * 1rem;

$blue: $mg-color-primary;
$primary: $mg-color-primary;
$secondary: $mg-color-secondary;

$input-height-base: $mg-input-height;

$navbar-light-active-color: $mg-color-primary-light;
$navbar-light-color: $mg-color-primary;
$navbar-nav-link-padding-x: 1rem;
$navbar-padding-x: 0;
$navbar-padding-y: 0;

// Navbar dropdown
$dropdown-link-color: $mg-color-primary;
$dropdown-link-hover-bg: $mg-color-primary;
$dropdown-link-hover-color: $mg-color-white;

$dropdown-spacer: 0;
$dropdown-item-padding-x: 0;
$dropdown-item-padding-y: 0;
$dropdown-border-radius: 0;
$dropdown-padding-y: 0;

// Buttons
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
