@import './custom';

.navbar-light {
    .navbar-nav {
        &:nth-child(1) {
            &:hover {
                cursor: pointer;
            }

            .nav-item {
                &:hover,
                &.dropdown.show {
                    background-color: $color-primary-light !important;
                    color: $color-white !important;
                }
            }
        }

        > li > a:active,
        > li > a:hover,
        > li > a:focus {
            background-color: $color-primary-light;
            color: $color-white;
        }

        .nav-item {
            .nav-link {
                line-height: 50px;
                padding: 0 1rem;
                vertical-align: middle;
            }
        }
    }
}

