@import './variables';

$brand-primary: $color-primary;

$font-size-base: 14px;

$navbar-default-link-hover-bg: $color-primary-light;
$navbar-default-link-color: $color-white;
$navbar-default-link-hover-color: $color-white;

$dropdown-link-color: $color-text-dark;
$dropdown-link-hover-bg: #f8f9fa;
$dropdown-link-hover-color: $color-primary;
