$mg-color-primary: #005c8f;
$mg-color-primary-light: #0069a4;

$mg-font-family-base: 'Varela Round Regular';
$mg-font-family-sans-serif: 'Varela Round Regular';
$mg-font-family-mono: 'Varela Round Regular';
$mg-font-family-headings: 'Varela Round Regular';
