@import './variables';
@import 'molgenis/theme-4';

body {
    .navbar-light {
        background: $mg-color-white !important;
    }
}


.justify-content-end {
    margin-right: $spacer;
}

.navbar-nav > .nav-item {
    height: 50px;
    padding: 0;
    vertical-align: middle;

    > a {
        line-height: 50px;
        padding: 0;
    }

    &:hover {
        > a {
            background: $mg-color-primary;
            color: $mg-color-white !important;
        }
    }
}

.nav-item form {
    height: 100%;
    padding-left: 15px;

    button {
        background: $mg-color-primary;
        color: $mg-color-white;

        &:hover {
            background: $mg-color-primary;
            color: $mg-color-white;
        }
    }
}
