
$gray-800: #333;
$primary: $gray-800;
$blue: #017ffd;
$indigo: #004275;
$secondary: $indigo;
$info: $blue;
$orange: #ec6707;
$warning: $orange;
$font-family-sans-serif: Source Sans Pro;
$font-size-base: 0.875rem;
$link-color: theme-color("warning");