@import url('//fonts.googleapis.com/css?family=Varela+Round');

.navbar {
    background-color: $color-primary !important;
    border: 0;
    padding: 0 0.25rem 0 0 !important;

    .navbar-nav li {
        text-transform: uppercase;
    }

    .navbar-brand {
        background: $color-white;
        float: left;
        height: 50px;
        line-height: 20px;
        padding: 15px;

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.dropdown-menu {
    li a,
    .dropdown-item {
        line-height: 30px;
        padding: 0 $spacer * 1.5;
    }
}
