@import './custom';

.navbar-default {
    .navbar-nav {
        .dropdown.open > a {
            background: $color-primary-light;
            color: $color-white;
        }


        .dropdown-toggle .caret {
            margin-left: $spacer;
        }

        .dropdown-menu li {
            a:active {
                background: $color-primary-light;
                color: $color-white;
            }
        }
    }
}


