@import './variables';

$font-size-base: 0.875rem;

$navbar-light-color: $color-white;
$navbar-light-hover-color: $color-white;
$navbar-light-active-color: $color-white;

$dropdown-link-color: $color-text-dark;
$dropdown-link-hover-color: $color-primary;

$navbar-padding-x: 0;
$navbar-padding-y: 0;
